<% content_for :title, "Editing oem manufacturer" %>

<h1>Editing oem manufacturer</h1>

<%= render "form", oem_manufacturer: @oem_manufacturer %>

<br>

<div>
  <%= link_to "Show this oem manufacturer", @oem_manufacturer %> |
  <%= link_to "Back to oem manufacturers", oem_manufacturers_path %>
</div>
