<% content_for :title, "New oem manufacturer" %>

<h1>New oem manufacturer</h1>

<%= render "form", oem_manufacturer: @oem_manufacturer %>

<br>

<div>
  <%= link_to "Back to oem manufacturers", oem_manufacturers_path %>
</div>
