<% content_for :title, "Editing gorilla glass" %>

<h1>Editing gorilla glass</h1>

<%= render "form", gorilla_glass: @gorilla_glass %>

<br>

<div>
  <%= link_to "Show this gorilla glass", @gorilla_glass %> |
  <%= link_to "Back to gorilla glasses", gorilla_glasses_path %>
</div>
