<% content_for :title, "New gorilla glass" %>

<h1>New gorilla glass</h1>

<%= render "form", gorilla_glass: @gorilla_glass %>

<br>

<div>
  <%= link_to "Back to gorilla glasses", gorilla_glasses_path %>
</div>
